<div class="main-box">
    <div class="row no-gutters row-height">

        <div class="col-lg-6 col-12 column-height">
            <div class="element-row-div justify-align-content padding-bottom">
                <div class="span-background">
                    <span>Historia twoich treningów</span>
                </div>
                <mat-form-field class="filter-leftup-input">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                </mat-form-field>
                <!--                <button mat-icon-button id="addApplicant">-->
                <!--                    <mat-icon class="button-span-color" (click)="openDialog()" matTooltip="Add new applicant"-->
                <!--                              matTooltipPosition="right">add</mat-icon>-->
                <!--                </button>-->

                <div class="example-loading-shade"
                     *ngIf="isLoadingResults==true">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

                </div>

                <div class="table-container width-95per height-90per mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                              [checked]="selection.hasValue() && isAllSelected()"
                                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                                              [aria-label]="checkboxLabel()"
                                >
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="$event ? selection.toggle(row) : null"
                                              [checked]="selection.isSelected(row)"
                                              [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="data">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data</th>
                            <td mat-cell *matCellDef="let row"> {{row.data}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nazwa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa</th>
                            <td mat-cell *matCellDef="let row"> {{row.nazwa}}</td>
                        </ng-container>
                        <ng-container matColumnDef="kateogria">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kategoria</th>
                            <td mat-cell *matCellDef="let row"> {{row.kategoria}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4"><span *ngIf="isLoadingResults==false">No data matching the filter "{{input.value}}
                                "</span></td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                </div>

            </div>

        </div>

        <div class="col-lg-6 col-12 column-height">
            <div class="element-row-div">
                <div class="span-background">
                    <span class="title-of-field">Dodaj nowy trening</span>
                </div>
                <app-add-new-training class="element-add-new-training"></app-add-new-training>
            </div>
        </div>

    </div>
    <div class="row no-gutters row-height">

        <div class="col-lg-8 col-12 column-height">
            <div class="element-row-div justify-align-content">
                <div class="span-background">
                    <span>Znajdź trening dla siebie</span>
                </div>
                <div class="training-proposition">
                    <div *ngIf="isLoadingResults==false" class="input-box-find-training">
                        <!--                        <app-generic-input-field [placeholder]="'Nazwa'" [type]="'text'"-->
                        <!--                                                 [hints]="exerciseNames" #nameExerciseInput></app-generic-input-field>-->

                        <form [formGroup]="formControl">
                            <mat-form-field>
                                <input matInput formControlName="nazwa">
                                <mat-placeholder>Nazwa</mat-placeholder>

                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="kategoria">
                                <mat-placeholder>Kategoria</mat-placeholder>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="kalorieSpalane" type="number" min="0">
                                <mat-placeholder>Minimalne spalane kalorie</mat-placeholder>
                            </mat-form-field>
                        </form>
                        <!--                        <app-generic-input-field [placeholder]="'Kategoria'" [type]="'text'"-->
                        <!--                                                 [hints]="exerciseCategories" #categoryExerciseInput></app-generic-input-field>-->
                        <!--                        <app-generic-input-field [placeholder]="'Fragment opisu'"-->
                        <!--                                                 [type]="'text'"></app-generic-input-field>-->
                        <!--                        <app-generic-input-field [placeholder]="'Spalane kalorie na minute'"-->
                        <!--                                                 [type]="'number'" #caloriesExerciseInput></app-generic-input-field>-->
                        <!--                        <button mat-button (click)=findTraining()><span class="button-span-color">Szukaj</span></button>-->
                    </div>
                    <div class="table-box-find-training">
                        <div class="table-container width-100per height-100per mat-elevation-z8">
                            <div class="table-proposition-train ">
                                <table mat-table
                                       [dataSource]="dataSourceExtended" multiTemplateDataRows
                                       class="mat-elevation-z8 width-100per">
                                    <ng-container matColumnDef="{{column}}"
                                                  *ngFor="let column of columnsToDisplay, let i=index">
                                        <th mat-header-cell *matHeaderCellDef> {{columnsHeaderNames[i]}} </th>
                                        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                                    </ng-container>
                                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                                    <ng-container matColumnDef="expandedDetail">
                                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                                            <div class="example-element-detail"
                                                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                                <div class="example-element-diagram">
                                                    <div class="example-element-position"> {{element.nazwa}} </div>
                                                    <div class="example-element-symbol"> {{element.kategoria}} </div>
                                                    <div class="example-element-name"> {{element.kalorieSpalane}} </div>
                                                </div>
                                                <div class="example-element-description">
                                                    {{element.opis}}
                                                    <span
                                                        class="example-element-description-attribution"> -- Wikipedia </span>
                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                                        class="example-element-row"
                                        [class.example-expanded-row]="expandedElement === element"
                                        (click)="expandedElement = expandedElement === element ? null : element">
                                    </tr>
                                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                        class="example-detail-row"></tr>
                                </table>
                            </div>
                            <div class="paginator-proposition-train">
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-12 column-height">
            <div class="element-row-div">
                <div class="span-background">
                        <span>Wykres liczby twoich treningów tygodniowo w ostatnich 16 tygodniach</span>
                </div>
                <div class="chart">

                    <app-my-line-chart *ngIf="isLoadingResults==false"
                                       [trainings]="allTrainingsData"></app-my-line-chart>
                </div>
            </div>
        </div>

    </div>
</div>
