.main-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*padding: 10px;*/
}
@media (min-width: 992px) {
    .row-height {
        height: 50%;
        justify-content: space-around;
    }

    .column-height {
        height: 100%;
    }
}

@media (max-width: 992px) {
    .row-height {
        height: 100%;
        justify-content: space-around;
    }

    .column-height {
        height: 50%;
    }
}

.element-row-div {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-content: center;*/

    height: 95%;
    background-color: lightsteelblue !important;
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
}

.element-add-new-training {
    /*height: 95%;*/
    /*background-color: lightsteelblue !important;*/
    /*border-radius: 15px;*/
    /*margin: 1%;*/

    width:95%;
    height: 100%;
}

.training-table {
    overflow: scroll;
}

.training-proposition {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2%;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*align-items: center;*/
    /*height: 90%;*/
    /*width: 95%;*/
    overflow: auto;
}

.width-95per {
    width: 95%;
}

.width-100per {
    width: 100%;
}

.height-90per {
    height: 90%;
}

.height-100per {
   height: 100%;
}
.padding-bottom {
    padding-bottom: 2%;
}

table {
    /*width: 100%;*/
    height: 100%;
}

.justify-align-content {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.filter-leftup-input {
    width: 90%;
    max-height: 20%;
}

/*.mat-form-field {*/
/*    font-size: 14px;*/
/*    width: 100%;*/
/*}*/

td, th, tr {
    /*width: 25%;*/
    white-space: normal;
    word-wrap: break-word;
    max-width: 250px;

}





table {
    /*width: 100%;*/
    word-wrap: break-word;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: scroll;
    display: flex;
    width: 100%
}

.example-element-diagram {
    /*min-width: 80px;*/
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    /*padding: 16px;*/
}

.example-element-description-attribution {
    opacity: 0.5;
}


.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    /*right: 0;*/
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box-find-training {
    width:33%;
}

.table-box-find-training {
    width: 67%;
}

.table-proposition-train {
    min-height: 70%;
    max-height: 90%;
    height: 90%;
    /*display: flex;*/
    overflow: auto;
}

.paginator-proposition-train {
    /*min-height: 10%;*/
    max-height: 25%;
    /*height: 20%;*/
}

.chart {
    padding: 2%;
    height: 100%;
    width: 100%;
}
