.main-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-data-box {
    width: 100%;
    height: 100%;

    /*align-content: space-between;*/
}

@media (min-width: 992px) {
    .main-data-box {
        display: flex;
        flex-direction: row;
    }
    .title-date-plan {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .main-data-box {
        display: flex;
        flex-direction: column;
    }
    .title-date-plan {
        display: flex;
        flex-direction: row;
    }
}

.title-date-plan {
    width: 100%;

}

/*.span-background {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #3e69ad;*/
/*    border-radius: 15px;*/

/*}*/

.form-new-plan {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.table-container {
    height: 100%;
    overflow: auto;
    /*display: grid;*/
}

.plans-history {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.add-new-plan-box {
    display: flex;
    flex-direction: column;
}
