<div class="main-box">
    <div class="span-background">
        <span class="title-of-field">Na naszym serwisie nie ma informacji o Tobie. Proszę, podaj nam je</span>
    </div>
    <div class="main-data-box row">
        <div class="user-data-diet-box ">
            <form class="user-data-box" [formGroup]="formGroup">
                <div class="col-lg-3 col-md-12" *ngFor="let item of userInformation">
                    <div class="">
                        <mat-form-field class="form-field">
                            <mat-label>{{item.firsrtFieldName}}</mat-label>
                            <input matInput value={{item.secondFieldName}} formControlName={{item.formControlName}}>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <span>Twoje zakładane spożycie:</span>
                    <form class="user-diet-box" [formGroup]="formGroup">
                        <div class="user-diet-inputs row" *ngFor="let item of userDietInformation">
                            <span class="title col-lg-5">{{item.firsrtFieldName}}</span>
                            <mat-form-field class="list-attribute-value-form col-lg-3">
                                <input matInput value={{item.secondFieldName}} formControlName={{item.formControlName}}
                                       type="number">
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-12">

                </div>
            </div>
        </div>
        <div class="button-update-box">
            <button class="update-button" (click)="createUser()" mat-raised-button>Zaaktualizuj dane</button>
        </div>
    </div>
</div>
