.main-box {
    width: 100%;
    height: 100%;
}

.radio-meal-choose {
    max-height: 20%;
}

.meal-choose-list {
    min-height: 80%;
    max-height: 100%;
}

.table-container {
    height: 100%;
    overflow: auto;
    /*display: grid;*/
}

table {
    width: 100%;
    min-height: 33vh;
    max-height: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
