.main-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3%
}

.main-data-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*align-content: space-between;*/
}

.name-date-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-exercise-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parameters-values-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%
}

.single-parameter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    max-width: 45%;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-button {
    width: 100%;
}

.attribute-value-form-select {
    min-width: 120px;
    width: 50%;
    max-width: 60%;
    margin: 5px;
}

.attribute-value-form-input{
    min-width: 80px;
    width: 30%;
    max-width: 40%;
    margin: 5px;
}


trening-title {
    max-width: 50%;
    width: 40%;
}
.description-box {
    width: 90%;
}

.padding-1-percent {
    padding: 1%;
}

.input-same-size {
    min-width: 35%;
    max-width: 50%;
    width: 40%;
}

.form-sizes {
    width: 100%;
    height: 100%;
}
