.main-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-item-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-about-calories {
    width: 100%;
}
.item-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: green;
}

::ng-deep .mat-progress-bar-buffer {
    background-color: lightgrey;
}

.eaten {


}

.eaten-percent {

}

.daily-requirement {

}

.eaten-carbohydrates {

}

.eaten-fats {

}

.eaten-proteins {

}

.progressbar-width {
    width: 90%;
}


