.main-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row-item-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-about-calories {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.item-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: green;
}

::ng-deep .mat-progress-bar-buffer {
    background-color: lightgrey;
}

.eaten {


}

.eaten-percent {

}

.daily-requirement {

}

.eaten-carbohydrates {

}

.eaten-fats {

}

.eaten-proteins {

}

.progressbar-width {
    width: 90%;
    height: 20px;
    border-radius: 15px;
}


.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.mat-progress-bar {
    height: 30px;
}

.progress-bar-box {
       width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
