<div class="main-box">
    <form class="form-box" [formGroup]="formGroup">
        <div class="forms-line">

            <mat-form-field class="padding-1-percent input-same-size">
                <mat-label>Nazwa obiektu</mat-label>
                <input type="text"
                       matInput
                       formControlName="nameForm"
                       [matAutocomplete]="autoGroup" [formControl]="nameForm">
                <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-optgroup *ngFor="let group of sportFacilitiesGroups" [label]="group.name">
                        <mat-option *ngFor="let sportFacility of group.sportFacility" [value]="sportFacility.id">
                            {{sportFacility.name}}
                        </mat-option>
                    </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="padding-1-percent input-same-size" appearance="fill">
                <mat-label>Kategoria</mat-label>
                <mat-select [(value)]="selected" >
                    <mat-option>None</mat-option>
                    <div *ngFor="let item of categories">
                        <mat-option value="{{item.id}}">{{item.name}}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

<!--            <mat-form-field class="padding-1-percent input-same-size" appearance="fill">-->
<!--                <mat-label>Ćwiczenie</mat-label>-->
<!--                <mat-select [formControl]="nameForm">-->
<!--                    <mat-option>None</mat-option>-->
<!--                    <mat-optgroup *ngFor="let group of sportFacilitiesGroups" [label]="group.name">-->
<!--                        <mat-option *ngFor="let sportFacility of group.sportFacility" [value]="sportFacility.id">-->
<!--                            {{sportFacility.name}}-->
<!--                        </mat-option>-->
<!--                    </mat-optgroup>-->
<!--                </mat-select>-->
<!--            </mat-form-field>-->



            <mat-form-field class="padding-1-percent input-same-size" appearance="fill">
                <mat-label>Obiekty mogą być</mat-label>
                <mat-select [(value)]="selectedIsPaid" >
                    <mat-option value="noMetter">Płatne i bezpłatne</mat-option>
                    <mat-option value='unPaid'>Bezpłatne</mat-option>
                    <mat-option value='paid'>Płatne</mat-option>

                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <div class="button-search">
        <button mat-raised-button>Szukaj</button>
    </div>
</div>
