.main-box {
    width: 100%;
    height: 100vh;
    /*background-color: #eee;*/
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.applica-main-box {
    display: flex;
    width: 100%;
    height: 92%;
}

.v1 {
    height: 8%;
}

.v2 {
    height: 92%;
    width: 10%;
}

.v3 {
    height: 100%;
    width: 90%;
}
