.main-box {
    width: 100%;
    height: 100vh;
    /*background-color: #eee;*/
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.applica-main-box {
    display: flex;
    width: 100%;
    height: 100%;
}

.v1 {
    height: 6%;
    /*background-color: greenyellow;*/

}

.v2 {
    height: 100%;
    width: 10%;
    /*background-color: greenyellow;*/

}

.v3 {
    height: 43%;
    width: 92%;
    /*background-color: greenyellow;*/

}

.custom-sidenav-container-size {
    width: 100%;
    height: 100%;
    /*background-color: #eee;*/
}
