.main-box {
    width: 100%;
    height: 100vh;
    /*background-color: #eee;*/
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.applica-main-box {
    display: flex;
    width: 100%;
    height: 100%;
}

.v1 {
    height: 7%;
}

.v2 {
    height: 100%;
    width: 10%;
}

.v3 {
    height: 93%;
    width: 92%;
}

.custom-sidenav-container-size {
    width: 100%;
    height: 100%;
}
