.main-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-box-data {
    width: 100%;
    height: 100%;
}

::ng-deep .mat-tab-body-wrapper {
    height: 100%;
}

