.main-box {
    /*display: flex;*/
    width: 100%;
    height: 100%;
    /*flex-grow:1;*/
    /*background-color: #ffefef;*/
    /*display: flex;*/
    /*justify-content: space-between;*/

}


    .main-box-chart {
        /*display: flex;*/
        width: 100%;
        height: 100%;
        /*flex-grow:1;*/

    }


