.main-box {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-top: 5vh;*/
    width: 100%;
    height: 100%;
    overflow: auto;

    maintainAspectRatio: false;
}

.row-height {
    /*height: 2%;*/
    overflow: hidden;
    height: 33.6vh;

}

.training-table {
    height: 100%;
    overflow: scroll;
}





table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}
