<div class="main-box">
<!--    <div class="row">-->
    <form class="form-box" [formGroup]="formGroup">
        <div class="forms-line">
<!--            <div >-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="Telefon" value="phone" formControlName="phone">
                </mat-form-field>
<!--            </div>-->
<!--            <div>-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="E-mail" value="mail" formControlName="mail">
                </mat-form-field>
<!--            </div>-->
<!--            <div>-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="Imię" value="firstName" formControlName="firstName">
                </mat-form-field>
<!--            </div>-->
        </div>
        <div class="forms-line">
<!--            <div>-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="Nazwisko" value="secondName" formControlName="secondName">
                </mat-form-field>
<!--            </div>-->
<!--            <div>-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="Specjalizacja" value="specialisation"
                           formControlName="specialisation">
                </mat-form-field>
<!--            </div>-->
<!--            <div>-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="Minimalne opinie" value="opinion" formControlName="opinion">
                </mat-form-field>
<!--            </div>-->
        </div>

    </form>
<!--    </div>-->
    <div class="button-search">
        <button mat-raised-button>Szukaj</button>
    </div>
</div>
