<div class="main-box">
<!--    <div class="row">-->
    <form class="form-box" [formGroup]="formGroup">
        <div class="forms-line">
<!--            <div >-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="Telefon" value="phone" formControlName="phone">
                </mat-form-field>
<!--            </div>-->
<!--            <div>-->
                <mat-form-field class="attribute-value-form">
                    <input type="email" matInput placeholder="E-mail" value="mail" formControlName="mail">
                </mat-form-field>
<!--            </div>-->
<!--            <div>-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="Imię" value="firstName" formControlName="firstName">
                </mat-form-field>
<!--            </div>-->
        </div>
        <div class="forms-line">
<!--            <div>-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="Nazwisko" value="secondName" formControlName="secondName">
                </mat-form-field>
<!--            </div>-->
<!--            <div>-->
<!--                <mat-form-field class="attribute-value-form">-->
<!--                    <input matInput placeholder="Specjalizacja" value="specialisation"-->
<!--                           formControlName="specialisation">-->
<!--                </mat-form-field>-->
            <mat-form-field *ngIf="isloading==false" class="padding-1-percent input-same-size" appearance="fill">
                <mat-label>Kategoria</mat-label>
                <mat-select [formControl]="spec" [(value)]="selected" multiple>
                    <div *ngFor="let item of specialisations">
                        <mat-option value="{{item.id}}">{{item.name}}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
<!--            </div>-->
<!--            <div>-->
                <mat-form-field class="attribute-value-form">
                    <input matInput placeholder="Minimalne doświadczenie" value="minExp" formControlName="minExp" type="number">
                </mat-form-field>
<!--            </div>-->
        </div>

    </form>
<!--    </div>-->
    <div class="button-search">
        <button mat-raised-button (click)="filterSearch()">Szukaj</button>
    </div>
</div>
