.main-box {
    width: 100%;
    height: 100%;
    /*background-color: #eee;*/
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.custom-sidenav-container-size {
    width: 100%;
    height: 100%;
    /*background-color: #eee;*/
}

.applica-main-box {
    display: flex;
    width: 100%;
    height: 100%;
}

.v2 {
    height: 80%;
    width: 30%;
    /*background-color: greenyellow;*/

}

.v3 {
    height: 43%;
    width: 70%;
    /*background-color: greenyellow;*/

}

.custom-sidenav-container-size {
    width: 100%;
    height: 90%;
    /*background-color: #eee;*/
}

.header-message {
    max-height: 10%;
    width: 100%;
    margin-bottom: 1%;
    padding: 1%;
    background-color: #3e69ad !important;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    background-color: #30b7ff;
}

