.v2 {
    height: 100%;
    width: 30%;
    /*background-color: greenyellow;*/

}

.v3 {
    height: 43%;
    width: 70%;
    /*background-color: greenyellow;*/

}

.custom-sidenav-container-size {
    padding: 5%;
    width: 100%;
    height: 100%;
    /*background-color: #eee;*/
}

