<div class="main-box" *ngIf="isLoadingResults==false">
    <input matInput value="{{expertInfo.firstName}}"/>
    <input matInput value="{{expertInfo.lastName}}"/>
    <input matInput value="{{expertInfo.mail}}"/>
    <input matInput value="{{expertInfo.phone}}"/>
    <input matInput value="{{expertInfo.description}}"/>
    <input matInput value="{{expertInfo.education}}"/>
    <input matInput value="{{expertInfo.birthdate}}"/>
    <input matInput value="{{expertInfo.firstName}}"/>

    <button mat-button>Zaaktualizuj dane</button>
</div>
