.main-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*padding: 10px;*/
    /*color: red;*/
    font-family: "Verdana";
    color: rgb(51, 51, 51);
}

.map {
    height: 100%;
    width: 100%;
}

.element-row-div {
    /*height: 95%;*/
    width: 100%;
    background-color: #3e69ad !important;
    border-radius: 15px;
    margin: 1%;
    overflow: scroll;
}
