.main-box {
    /*display: flex;*/
    width: 100%;
    height: 100%;
    /*flex-grow:1;*/
    /*background-color: #ffefef;*/
    /*display: flex;*/
    /*justify-content: space-between;*/

}


@media (min-width: 992px) {
    .main-box-chart {
        /*display: flex;*/
        width: 50%;
        height: 100%;
        /*flex-grow:1;*/

    }

}

@media (max-width: 992px) {
    .main-box-chart {
        /*display: flex;*/
        width: 100%;
        height: 100%;
        /*flex-grow:1;*/

    }

}

/*canvas{*/

/*    width:2px !important;*/
/*    height:600px !important;*/

/*}*/
