.main-box {
    display: flex;
    height: 100%;
    justify-self: center;
    align-self: center;
    padding: 20px;
}

.category-box {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 15px;
    background: #eee;

}
