<div class="main-box">
    <div class="category-box" *ngIf="isDataLoaded==true">
<!--        -->
        <app-category-gym class="category" *ngIf="isCatActive(en.fitness) && isUser!=false" #categoryGym></app-category-gym>
        <app-category-food class="category" *ngIf="isCatActive(en.food) && isUser!=false" #categoryFood></app-category-food>
        <app-category-about-me class="category" *ngIf="isCatActive(en.aboutMe) && isUser!=false" #categoryFood></app-category-about-me>
        <app-category-message class="category" *ngIf="isCatActive(en.message) ||isUser!=true" #categoryFood></app-category-message>
        <app-find-expert class="category" *ngIf="isCatActive(en.personSearch) && isUser!=false" #categoryFood></app-find-expert>
        <app-find-sport-facility class="category" *ngIf="isCatActive(en.sportFacilitySearch) && isUser!=false" #categoryFood></app-find-sport-facility>
        <!--    <app-category-gym></app-category-gym>-->
    </div>
</div>
