.main-box {
    display: flex;
    /*position: fixed;*/
    /*margin-top: 5vh;*/
    /*width: 96%;*/
    height: 100%;
    justify-self: center;
    align-self: center;
    border-radius: 25px;
    background: #eee;
    padding: 20px;
    margin: 20px;
}

.category {
    width: 100%;
    height: 100%;
}
