<div class="main-box">
    <div class="filter-row-div">
        <div class="filter-box">
        <app-filters-field (changeEvent)="searchExperts($event)"></app-filters-field>
        </div>
    </div>
    <div class="expert-proposition-row-div">
        <app-expert-list class="list-of-experts" [dataSource]="experts" #expertList></app-expert-list>
    </div>
<!--    <mat-paginator [length]="100"-->
<!--                   [pageSize]="10"-->
<!--                   [pageSizeOptions]="[5, 10, 25, 100]">-->
<!--    </mat-paginator>-->
</div>
