.main-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*align-content: space-between;*/
}

.button-update-box {
    width: 100%;
    max-height: 15%;
    margin-top:auto;

}

.update-button {
    width: 100%;
}
