.main-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-data-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*align-content: space-between;*/
}

.button-update-box {
    width: 100%;
    max-height: 15%;
    margin-top:auto;

}

.mesaurment-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.update-button {
    width: 100%;
}

.measure-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-attribute-value-form{
    width: 50%;
}

.title {
    width: 50%;
    display: flex;
    align-self: center;
    justify-self: center;
}
