<div class="main-box">
    <div class="span-background">
        <span class="title-of-field">Twoja dzisiejsza wypita woda</span>
    </div>
    <div class="main-data-box">
        <div class="add-water-buttons">

            <!--            <div class="add-water-buttons">-->
            <div class="add-const-val-button">
                <button mat-raised-button (click)="add250ml()">+250ml</button>
                <button mat-raised-button (click)="add500ml()">+500ml</button>
            </div>
            <div class="add-custom-val">
                <mat-form-field class="input-val">
                    <mat-label style="color: white">Inna wartość</mat-label>
                    <input matInput type="number" [formControl]=custumWaterFalue>
                </mat-form-field>
                <div class="add-custom-val-button">
                    <button mat-raised-button (click)="addCustomWater()">+</button>
                </div>
            </div>
            <!--            </div>-->
        </div>
        <div class="progress-water-bar">
            <circle-progress class="progress-water-bar"
                [percent]=percentOfWaterConsumed()
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="400"
                [unitsFontSize]="22"
                [titleFontSize]="25"
                [subtitleFontSize]="20"
                [subtitleColor]="'#EEEEEE'"
            ></circle-progress>
        </div>
    </div>
</div>
