.main-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-data-box {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-of-field {
    margin: 3px;
}

.progress-water-bar {
    width: 100%;
    height: 90%;
}

.add-water-buttons {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.add-custom-val {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-val {
    min-width: 30px;
    width:40%;
}

.add-custom-val-button {
    margin-left: 10px;
}
