/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }
span {font-size: 16px}

.span-background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e69ad;
    border-radius: 15px;

}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white !important;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: white !important;
}
