.main-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-box-data {
    display: flex;
    flex-direction: column;
    /*color: rgb(51, 51, 51);*/
    height: 100%;
    width: 100%;
}

.title-of-field {
    margin: 3px;
}

.butt {
    height: 100px;
    width: 100px;
}

::ng-deep .mat-tab-label {
    color: white !important;
    opacity: 1 !important;
}
/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

.tab-table-hight {
    max-height: 60%;
}

.choosedate-chart-height {
    height: 40%;
    max-height: 45%;

}

.chart {
    /*padding: 2%;*/
    height: 100%;
    width: 100%;
}

.choose-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
