/*.main-box {*/
/*    display: flex;*/

/*    margin-top: 5vh;*/
/*    width: 150px;*/
/*    height: 150px;*/


/*    maintainAspectRatio: false;*/
/*}*/
/*.column-height {*/
/*    height: 100%;*/
/*}*/

/*.first-row-height {*/
/*    height: 35%;*/
/*}*/

/*.second-row-height {*/
/*    height: 65%;*/
/*}*/



.main-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*padding: 10px;*/
    /*color: red;*/
    font-family: "Verdana";
    /*color: rgb(51, 51, 51);*/
}

.element-row-div {
    height: 95%;
    background-color: lightsteelblue !important;
    border-radius: 15px;
    margin: 1%;
}



@media (min-width: 992px) {
    .first-row-height {
        height: 30%;
        justify-content: space-around;
    }

    .second-row-height {
        height: 70%;
        /*justify-content: space-around;*/
    }

    .column-height {
        height: 100%;
    }
}

@media (max-width: 992px) {
    .first-row-height {
        height: 65%;
        justify-content: space-around;
    }

    .second-row-height {
        height: 100%;
        justify-content: space-around;
    }

    .column-height {
        height: 50%;
    }
}


.justify-align-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.padding-field {
    padding: 2%;
}

.food-eaten-field {
    width: 100%;
    height: 100%;
}

.water-drink-field {
    width: 100%;
    height: 100%;
}

.today-meal-field {
    width: 100%;
    height: 100%;
}

.search-product-field {
    width: 100%;
    height: 100%;
}
