/*.main-box {*/
/*    display: flex;*/

/*    margin-top: 5vh;*/
/*    width: 150px;*/
/*    height: 150px;*/


/*    maintainAspectRatio: false;*/
/*}*/

.main-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*padding: 10px;*/
    /*color: red;*/
    font-family: "Verdana";
    color: rgb(51, 51, 51);
}

.element-row-div {
    height: 100%;
    background-color: lightsteelblue !important;
    border-radius: 15px;
    /*margin: 10px;*/
}

.column-height {
    height: 100%;
}

.first-row-height {
    height: 35%;
}

.second-row-height {
    height: 65%;
}
