.main-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*padding: 10px;*/
    /*color: red;*/
    font-family: "Verdana";
    color: rgb(51, 51, 51);
}

.element-row-div {
    height: 100%;
    width: 100%;
    background-color: lightsteelblue !important;
    border-radius: 15px;
    /*margin: 10px;*/
}

.column-full-height {
    height: 100%;
}

.row-height {
    height: 100%;
}

.first-row-height {
    height: 100%;
}

.half-row-height {
    height: 50%;
}
