.main-box {
    width: 100%;
    height: 100%;
    overflow: auto;
}

@media (min-width: 992px) {
    .first-row-height {
        height: 50%;
        justify-content: space-around;
    }

    .second-row-height {
        height: 50%;
        justify-content: space-around;
    }

    .column-height {
        height: 100%;
    }
}

@media (max-width: 992px) {
    .first-row-height {
        height: 90%;
        justify-content: space-around;
    }

    .second-row-height {
        height: 65%;
        justify-content: space-around;
    }

    .column-height {
        height: 45%;
    }
}

.element-row-div {
    height: 95%;
    background-color: lightsteelblue !important;
    border-radius: 15px;
    margin: 1%;
    overflow: scroll;
}

.column-full-height {
    height: 100%;
}

.row-height {
    height: 100%;
}

/*.first-row-height {*/
/*    height: 100%;*/
/*}*/

.half-row-height {
    height: 100%;
}

.padding-field {
    padding: 2%;
}
