.main-box {
    width: 100%;
    height: 100%;
    overflow: auto;
    /*padding: 10px;*/
}

@media (min-width: 992px) {
    .row-height {
        height: 50%;
        justify-content: space-around;
    }

    .column-height {
        height: 100%;
    }
}

@media (max-width: 992px) {
    .row-height {
        height: 100%;
        justify-content: space-around;
    }

    .column-height {
        height: 50%;
    }
}

.element-row-div {
    height: 100%;
    width: 100%;
    background-color: lightsteelblue !important;
    border-radius: 15px;
    margin: 15px;
    /*margin: 10px;*/
}

.column-full-height {
    height: 100%;
}

.row-height {
    height: 100%;
}

.first-row-height {
    height: 100%;
}

.half-row-height {
    height: 50%;
}
