h1 {
  color: whitesmoke;
  font-weight: bolder;
  margin: 0;
  justify-content: center;
  align-content: center;
}

.top-bar {
  color: white;
  width: 100%;
  /*height: 5%;*/
  background-color: #174a9c;
  background-size: 150%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.button-span-color {
  color: whitesmoke;
}
