<mat-toolbar class="top-bar">
  <span>
      <button mat-icon-button id="menu">
          <mat-icon class="button-span-color menu-icon-size" (click)="toogleSideNav()">menu</mat-icon>
      </button>



  </span>
<!--    <div *ngIf="auth.user$ | async as user">-->
<!--        <span #XXX>{{ user.name }}</span>-->
<!--    </div>-->
    <h1>SPORTS APP</h1>
    <!--    <button (click)="callApi()" type="button" class="btn btn-primary">-->
    <!--        Get Public Message-->
    <!--    </button>-->
    <!--    <button (click)="callSecureApi()" type="button" class="btn btn-primary">-->
    <!--        Get Protected Message-->
    <!--    </button>-->
    <span>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <button mat-button (click)="auth.logout({ returnTo: 'https://sportsapp-dk.herokuapp.com/login' })">
            <span class="button-span-color">Wyloguj</span>
        </button>
    </ng-container>

    <ng-template #loggedOut>
      <button (click)="auth.loginWithRedirect()">Log in</button>
    </ng-template>
        <!--    <a href="/login"><button mat-button><span class="button-span-color">Logout</span></button></a>-->
  </span>
</mat-toolbar>
