h1 {
  color: whitesmoke;
  font-weight: bolder;
  margin: 0;
  justify-content: center;
  align-content: center;
}

.top-bar {
  color: white;
  width: 100%;
  /*height: 5%;*/
  background-color: #3e69ad;
  background-size: 150%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.button-span-color {
  color: whitesmoke;
}

.menu-icon-size {
    font-size: 30px;
}
